<div class="mat-dialog-header">
    <div class="mat-dialog-header-back-button">
        <button mat-icon-button [matDialogClose]="false" aria-label="Back button">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="mat-dialog-header-title">  
        Criar Lista
    </div>
</div>
<mat-dialog-content class="custom-mat-dialog-content">

    <div class="form-container">
        <mat-form-field class="input-full-width">
          <input cdkFocusInitial matInput placeholder="Nome da nova Lista" autocomplete="off">
        </mat-form-field>
    </div>
    
    <button (click)="getProdutos()" mat-stroked-button color="primary" class="input-full-width">
        <mat-icon>checked</mat-icon>
        Salvar lista
    </button>
</mat-dialog-content>
