<div class="mat-dialog-header" >
    <div class="mat-dialog-header-back-button">
        <button mat-icon-button [matDialogClose]="false" aria-label="Back button">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div>  
        <mat-form-field class="search-form-field">
            <input cdkFocusInitial matInput type="text" placeholder="Buscar Cliente" [(ngModel)]="termoBusca" name="search" (change)="buscarCliente()">
            <button mat-button *ngIf="termoBusca" matSuffix mat-icon-button aria-label="Clear" (click)="termoBusca=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="mat-dialog-header-action-button">
        <button mat-icon-button (click)="buscarCliente()" aria-label="Search button">
            <mat-icon>search</mat-icon>
        </button>
    </div>

</div>
<mat-dialog-content>

    <div class="mat-dialog-list-container">
        
        <ng-container *ngIf="!buscaRealizada">
            <div class="box-mensagem-busca">Busque pelo cliente!</div>
        </ng-container>

        <ng-container *ngIf="buscaRealizada && arrCliente.length == 0">
            <div class="box-mensagem-busca">Nenhum cliente encontrado pelo termo pesquisado, tente uma palavra chave diferente!</div>
        </ng-container>

        <ng-container *ngFor="let cliente of arrCliente | slice:0:100">
            <button mat-button class="mat-dialog-button-list" [matDialogClose]="cliente">
                <mat-icon>person</mat-icon>
                {{cliente.cliente_id}} - {{cliente.cliente_nome_fantasia}}
            </button>
        </ng-container>
        
    </div>
</mat-dialog-content>