
.mat-dialog-header{
    margin-top: -12px;
    box-shadow: 0 5px 11px -12px rgba(0, 0, 0, 0.5);
  }
  .mat-dialog-header{
    display: grid;
    grid-column-gap: 8px;
    grid-template-columns: 40px auto;
  }
  .search-form-field{
    width: 100%;
  }
  .mat-dialog-header-back-button{
    padding-top: 10px;
  }
  .mat-dialog-button-list{
    width: 100%;
    text-align: left;
  }
  .mat-dialog-list-container{
    padding: 16px 0px;
  }