@import '~@angular/material/theming';

@include mat-core();


$mat-thothcompany: (
  50: #4dc3ff,
  100: #33bbff,
  200: #1ab2ff,
  300: #00aaff,
  400: #0099e6,
  500: #08c!important,
  600: #0077b3,
  700: #006699,
  800: #005580,
  900: #004466,
  A100: #66ccff!important,
  A200: #80d4ff!important,
  A400: #99ddff,
  A700: #99ddff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$primary: mat-palette($mat-thothcompany, 500, A100, A400);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

.mat-app-background{
    height: 100%;
}

.mat-toolbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}
@include angular-material-theme($theme);
.mat-app-background{
  height: auto;
}
// Our dark theme
.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-yellow);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

    .venda-box-produto-info-data-item-content-label{
      color: #9a9a9a!important;
    }
    .card-tag span{
      color: #9a9a9a !important;
    }
    .card-label-tag-big{
      color: #9a9a9a !important;
    }
    .main-container{
      background: #303030!important;
    }
    .mat-toolbar.mat-primary {
        background: #424242 !important;
        color: rgba(255, 255, 255, 0.87)!important;
    }
    .card-label-tag{
        color: #f5f5f5!important;
    }
    .bottom-drawer-menu-box{
        background: #424242!important;
    }
    .venda-box-produto-info-data-item {
      background: #424242!important;
    }
    .venda-show-client-box{
      background: #303030!important;
    }
    .venda-box-produto{
      border: 1px solid #303030!important;
      background: #303030!important;
    }
    .venda-box-produto:hover{
      border: 1px solid #141414!important;
    }

    .mat-app-background{
      background: #004466!important;
    }

    .mat-menu-panel {
      background: #303030!important;
      color: #CCCCCC!important;
    }
    .mat-menu-item{
      color: #CCCCCC!important;
    }
    .mat-menu-item .mat-icon {
        color: #CCCCCC!important;
    }
    .bottom-drawer-card-pannel-value{
      color: #CCCCCC!important;
    }

  @include angular-material-theme($dark-theme);
}
.mat-toolbar.mat-primary {
  background: rgb(255, 255, 255)!important;
  color:#000000!important;
}
.mat-dialog-header{
  margin-top: -12px;
  box-shadow: 0 5px 11px -12px rgba(0, 0, 0, 0.5);
}
.mat-dialog-header{
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 40px auto;
}
.search-form-field{
  width: 100%;
}
.mat-dialog-header-back-button{
  padding-top: 10px;
}
.mat-dialog-button-list{
  width: 100%;
  text-align: left!important;
}
.mat-dialog-list-container{
  padding: 16px 0px;
}



.button-mat-spinner-box > .mat-progress-spinner circle{
  stroke: #ffffff !important;
}



























$max-width-window:800px;
.card-center{
    max-width: $max-width-window!important;
}
.main-container{
    padding: 16px 8px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 8px;
    background: #fafafa;
}
.card-block{
    display: grid;
    grid-row-gap: 8px;  
}
.card-block-collun{
    display: grid;
    grid-row-gap: 8px;  
    grid-column-gap: 8px;
    grid-template-columns: auto auto; 
    margin-top: 8px;
    max-width: 832px;
    margin: 0 auto;
    width: 100%;
}
.card-block-collun .mat-card{
    width: initial;
}
.card-block-line{
    display: grid;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    grid-template-columns: auto;
    margin-top: 8px;
    max-width: 832px;
    margin: 0 auto;
    width: 100%;
}
.input-full-width{
    width: 100%;
}
.button-full-width{
    width: 100%;
}
.card-tag{
    font-size: 18px;
}
.card-tag span{
    color: #08c;
}
.card-label-tag{
    color: #111111;
    text-align: center;
    font-weight: 500;
}
.card-label-tag-big{
    color: #08c;
    text-align: center;
    font-weight: 500; 
    font-size: 24px;
}
.mat-toolbar-center{
    max-width: $max-width-window;
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.bottom-drawer-menu-box{
    width: 100%;
    height: 64px;
    background: #FFFFFF;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: 1000;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.11);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.11);
    margin-bottom: -1px;
}
.margin-left-auto{
    margin-left: auto;
}
.venda-show-client-box{
    background: #ececec;
    border-radius: 20px;
}
.venda-show-client-box-content{
    display: flex;
}
.venda-show-client-box-label{
    width: 100%;
    line-height: 2.8;
    padding-left: 16px;
    font-weight: 500;
}
.box-fab-button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 8px;
    margin-bottom: 100px;
}
.venda-box-produto-list{
    display: grid;
    grid-row-gap: 8px;

}
.venda-box-produto{
    background: #f3f3f3;
    border-radius: 8px;
    border: 1px solid #f3f3f3;
}
.venda-box-produto:hover{
    border: 1px solid #CCCCCC; 
}
.venda-box-produto-container{
    padding: 8px;
}
.venda-box-produto-info-header{
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-column-gap: 8px;
}
.venda-box-produto-info-header-icon{
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.venda-box-produto-info-header-icon img{
    max-width: 100%;
}
.venda-box-produto-info-header-title{
    font-weight: 600;
    font-size: 14px;

}
.venda-box-produto-info-sub-header{
    width: 100%;
    padding: 2px 0px;
    display: flex;
}
.venda-box-produto-info-sub-header-title{
    font-weight: 500;
    font-size: 14px;
}
.venda-box-produto-info-sub-header-label{
    font-size: 14px;
    font-weight: 400;
}
.venda-box-produto-info-data{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-top: 8px;
}
.venda-box-produto-info-data-item{
    background: #FFFFFF;
    border-radius: 8px;
}
.venda-box-produto-info-data-item-content{
    padding: 8px;
}
.venda-box-produto-info-data-item-content-title{
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.venda-box-produto-info-data-item-content-label{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #08c;
}
.bottom-drawer-menu-box-content{
    max-width: 832px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 124px;
    grid-column-gap: 8px;
    padding-top: 14px;
}
.bottom-drawer-card-pannel{
    margin-left: 16px;
}
.bottom-drawer-card-pannel-title{
    font-size: 12px;
    font-weight: 600;
}
.bottom-drawer-card-pannel-value{
    font-size: 20px;
    font-weight: 500;  
    color: #08c;
}
.mat-dialog-header{
  margin-top: -12px;
  box-shadow: 0 5px 11px -12px rgba(0, 0, 0, 0.5);
}
.mat-dialog-header{
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 40px auto;
}
.search-form-field{
  width: 100%;
}
.mat-dialog-header-back-button{
  padding-top: 10px;
}
.mat-dialog-button-list{
  width: 100%;
  text-align: left;
}
.mat-dialog-list-container{
  padding: 16px 0px;
}

@media (min-width: 866px) {
    .venda-box-produto-info-data{
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-column-gap: 0px;
        border-radius: 6px;
        overflow: hidden;
    }
    .venda-box-produto-info-data-item {
        border-radius: 0px;
    }
    .venda-box-produto-info-data-item-content-title{
        font-size: 13px;
    }
    .venda-box-produto-info-data-item-content-label{
        font-size: 14px;
    }
    .card-block-collun{
        grid-template-columns: auto auto auto auto;
    }
    .card-center{
        margin: initial;
        max-width: $max-width-window!important;
    }
}
/* @media (prefers-color-scheme: dark) { 
    body { background: black; }
} */

















































































//#########################################################
//#########################################################
//#########################################################
//COMPRA
.main-container {
  padding: 0px;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 8px;
  background: #f6f8fa;
  max-width: 800px;
}
.bottom-drawer-menu{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -7px 10px -5px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px -7px 10px -5px rgba(0, 0, 0, 0.10);
  box-shadow: 0px -7px 10px -5px rgba(0, 0, 0, 0.10);
}
.bottom-drawer-menu-container{
  padding: 8px;
}
.bottom-drawer-menu-itens{
  margin: 0 auto;
  max-width: 832px;
  width: 100%;
  display: flex;
}
.button-drawer-menu-button-container{
  width: 100%;
  display: flex;
}
.button-drawer-menu-button-container button{
  margin: 0 auto;
}
.main-list-itens{
  display: grid;
  grid-row-gap: 8px;
  padding: 8px 8px 68px 8px;
}
.mat-elevation-z2{
  -webkit-box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.10)!important;
  -moz-box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.10)!important;
  box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.10)!important;
}
.mat-card:not([class*=mat-elevation-z]) {
  -webkit-box-shadow: 0px 0px 7px -5px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 7px -5px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 7px -5px rgba(0,0,0,0.18);
}
.mat-card-title {
  font-size: 18px!important;
}

.mat-app-background {
  background-color: #f6f8fa!important;
}
.mat-card-avatar img{
  max-width: 100%;
}
.mat-card-actions-container{
  width: 100%;
  display: flex;
}
.card-right-menu-header{
  margin-left: auto!important;
}
.card-item-value{
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #0088cc;
}
.bottom-drawer-list-data-container{
  display: flex;
}
.bottom-drawer-list-data-value{
  font-size: 26px;
  font-weight: 500;   
  padding-left: 8px;
  padding-top: 8px;
  width: 100%;
}
.bottom-drawer-list-data-action{
  margin-left: auto;
  padding-right: 16px;
}
.list-itens-progess{
  display: flex;
}
.list-itens-progess-content-left{
  width: 100%;
  padding: 7px 16px 7px 0px;
}
.list-itens-progess-content-right{
  font-weight: 500;
}
.mat-chip-icon{
  width: 24px;
  height: 24px;
  border-radius: 60px;
  overflow: hidden;
  margin-right: 8px;
  margin-left: -9px;
}
.mat-chip-icon img{
  max-width: 100%;
}
.mat-card-main-header{
  display: flex;
}
.mat-card-main-header-checkbox{
  margin: 8px;
}
.mat-card-header{
  width: 100%;
}
.mat-toolbar-center h1{
  margin-top: 4px!important;
}
.button-icon-image{
  height: 24px;
  width: 24px;
  overflow: hidden;
  margin: 6px;

}
.button-icon-image img{
  max-width: 100%;
}
.button-content-image-icon{
  display: flex;

}
.custom-mat-dialog-content{
  max-height: 72vh!important;
}
//#########################################################
//#########################################################
//#########################################################
//#########################################################
