.mat-dialog-header-back-button {
    padding-top: 4px;
    padding-bottom: 10px;
}
.mat-dialog-header-title{
    font-size: 22px;
    text-align: center;
    padding: 10px 0px;
    font-weight: 400;
    padding-right: 40px;
}
.mat-dialog-header-title-label{
    color: #08c;
}
.secondary-card-box{
    width: 100%;
    background: #f3f3f3;
    border-radius: 8px;
    margin-bottom: 8px;
    outline:none;
}
.secondary-card-box:focus{
    background: #e2e2e2;
}
.secondary-card-box-content{
    padding: 16px;
    display: grid;
    grid-row-gap: 8px;
}
.secondary-card-box-content-header{
    display: block;
    grid-column-gap: 8px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.secondary-card-box-content-label{
    color: #08c;
}
.secondary-card-box-content-data{
    background: #FFFFFF;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 14px;
    padding: 8px;
    font-weight: 500;
}
.secondary-card-box-content-data-item{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;
    font-weight: 500;
    font-size: 14px;  
}

.compra-show-fornecedor-box{
    background: #FFFFFF;
    border-radius: 2px;
}

.compra-show-fornecedor-box-content{
    display: flex;
}
.compra-show-fornecedor-box-label{
    width: 100%;
    line-height: 2.5;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
}
.radio-group-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 8px; 
}
.full-input{
    width: 100%;
    margin-top: 8px;
}
.coluna-dupla{
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px; 
}
.action-button-right{
    margin-left: auto!important;
}

@media (min-width: 640px) {
    .coluna-dupla{
        grid-template-columns: auto auto;
        grid-row-gap: 8px;
    } 
}