<mat-toolbar color="primary" class="mat-elevation-z2"> 
    <mat-toolbar-row>
        <div class="mat-toolbar-center">
            <h1>Lista</h1>
            <mat-slide-toggle [checked]="themeService.isDarkTheme | async" (change)="toggleDarkTheme($event.checked)" class="margin-left-auto">Escuro</mat-slide-toggle> 
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="main-container">
    <div class="main-list-itens">
        <ng-container *ngFor="let item of arrLista">
        <mat-card routerLink="/Compra/lista">

            <mat-card-header>
                <mat-card-title>
                    Nome do Item
                </mat-card-title>
                <mat-card-subtitle>12/12/2019</mat-card-subtitle>
                <button mat-icon-button class="card-right-menu-header">
                    <mat-icon color="primary">cloud_done</mat-icon>
                </button>
            </mat-card-header>

            <mat-card-content>
                <div class="list-itens-progess">
                    <div class="list-itens-progess-content-left">
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                    </div>
                    <div class="list-itens-progess-content-right">
                        4/10
                    </div>
                </div>
                <mat-chip-list aria-label="Lista Usuários">
                    <mat-chip>
                        <div class="mat-chip-icon">
                            <img src="https://icon-library.net/images/avatar-icon-images/avatar-icon-images-4.jpg">
                        </div>
                        João
                    </mat-chip>
                    <mat-chip>
                        <div class="mat-chip-icon">
                            <img src="https://icon-library.net/images/avatar-icon-images/avatar-icon-images-4.jpg">
                        </div>
                        Pedro
                    </mat-chip>
                    <mat-chip>+5</mat-chip>
                </mat-chip-list>
            </mat-card-content>
        </mat-card>
        </ng-container>
    </div>
</div>
<div class="bottom-drawer-menu">
    <div class="bottom-drawer-menu-container">
        <div class="bottom-drawer-menu-itens">

            <div class="button-drawer-menu-button-container">
                <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                    <mat-icon>person</mat-icon>
                </button>
            </div>
            <div class="button-drawer-menu-button-container">
                <button (click)="criarListaDialog()" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>