<div class="main-container">
    <mat-card class="card-center">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <div class="container-logo">
                    <img src="https://thothcompany.com.br/img/logo-thoth-01.png">
                </div>
                <mat-form-field class="input-full-width">
                    <input formControlName="email" matInput placeholder="E-mail" autocomplete="off" name="email">
                    <mat-error *ngIf="loginForm.get('email').errors">
                        Por favor, informe um e-mail válido!"
                    </mat-error>
                    <mat-icon matPrefix>email</mat-icon>
                </mat-form-field>
                <mat-form-field class="input-full-width">
                    <input formControlName="password" matInput placeholder="Senha" type="password" autocomplete="off" name="password">
                    <mat-icon matPrefix>vpn_key</mat-icon>
                </mat-form-field>

                <ng-container *ngIf="errorStatus > 0">
                    <div class="error-message-box">
                        <ng-container *ngIf="errorStatus == 1">
                            Não foi possível se conectar ao servidor de Login, por favor verifique sua conexão com a Internet!
                        </ng-container>
                        <ng-container *ngIf="errorStatus == 401">
                            Login não autorizado, por favor verifique seu E-mail e senha!
                        </ng-container>
                        <ng-container *ngIf="errorStatus == 1000">
                            Houve um erro desconhecido ao tentar entrar em sua conta, por favor aguarde um instante e tente novamente!
                        </ng-container>
                    </div>
                </ng-container>


            </mat-card-content>
            <mat-card-actions>
                <button [disabled]="loginForm.invalid || showProgessbar" class="button-full-width" mat-flat-button color="primary" >
                    <ng-container *ngIf="!showProgessbar">
                        Entrar
                    </ng-container>
                    <div *ngIf="showProgessbar" class="button-mat-spinner-box">
                        <mat-spinner diameter="24" color="primary"></mat-spinner>
                    </div>
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
    
</div>

