<div class="mat-dialog-header">
        <div class="mat-dialog-header-back-button">
            <button mat-icon-button [matDialogClose]="false" aria-label="Back button">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div> 
            <div class="mat-dialog-header-title">
                Lotes : <span class="mat-dialog-header-title-label">{{data.idProduto}} - {{data.nomeProduto}}</span>
            </div>
        </div>
    </div>
    <mat-dialog-content>
        <div class="mat-dialog-list-container">
            <mat-progress-bar mode="indeterminate" *ngIf="buscandoProdutos"></mat-progress-bar>
            <ng-container *ngFor="let produto of arrProduto">
                <div (click)="comfirmProdutoDialog(produto)" class="secondary-card-box" tabindex="1" cdkFocusInitial>
                    <div class="secondary-card-box-content">

                        <div class="secondary-card-box-content-header">
                            <div>
                                Fornecedor: <span class="secondary-card-box-content-label">{{produto.fantasia}}</span>
                            </div>
                            <div>
                                NF: <span class="secondary-card-box-content-label">{{produto.NF}}</span>
                            </div>
                        </div>

                        <div class="secondary-card-box-content-data">
                            <div>
                                Data Entr: <span class="secondary-card-box-content-label">{{produto.dataCompra}}</span>
                            </div>
                            <div>
                                Tipo Complem: <span class="secondary-card-box-content-label">{{produto.COMPLEMENTOPRODUTO}}</span>
                            </div>
                            <div>
                                Custo: <span class="secondary-card-box-content-label">R$ {{produto.valorCustoItem}}</span>
                            </div>
                            <div>
                                Estoque: <span class="secondary-card-box-content-label">{{produto.restante}}</span>
                            </div>
                            <div>
                                Unid. Medida: <span class="secondary-card-box-content-label">{{produto.undMedida}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-container>

        </div>
    </mat-dialog-content>