.mat-dialog-header-back-button {
    padding-top: 4px;
    padding-bottom: 10px;
}
.mat-dialog-header-title{
    font-size: 22px;
    text-align: center;
    padding: 10px 0px;
    font-weight: 400;
    padding-right: 40px;
}
.mat-dialog-header-title-label{
    color: #08c;
}
.secondary-card-box{
    width: 100%;
    background: #f3f3f3;
    border-radius: 8px;
    margin-bottom: 8px;
    outline:none;
}
.secondary-card-box:focus{
    background: #e2e2e2;
}
.secondary-card-box-content{
    padding: 16px;

}
.secondary-card-box-content-header{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
}
.secondary-card-box-content-label{
    color: #08c;
}
.secondary-card-box-content-data{
    background: #FFFFFF;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 14px;
    padding: 8px;
    font-weight: 500;
}
.secondary-card-box-content-data-item{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;
    font-weight: 500;
    font-size: 14px;  
}